<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.goods.lang.dao.TranslationMemoryDao">

    <select id="selectByFullText" resultType="com.hq.goods.lang.bean.entity.TranslationMemory">
        SELECT *
        FROM hq_translation_memory
        WHERE delete_status = 0 AND status = 1
        <if test="keywords != null and keywords != ''">
            AND MATCH(source_text) AGAINST(#{keywords} IN NATURAL LANGUAGE MODE)
        </if>
        ORDER BY quality_score DESC, usage_count DESC
        LIMIT #{limit}
    </select>

    <update id="incrementUsageCount">
        UPDATE hq_translation_memory
        SET usage_count = usage_count + 1
        WHERE id in
        <foreach collection="memoryIds" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="findBySourceTextTarget" resultType="com.hq.goods.lang.bean.entity.TranslationMemory">
        SELECT *
        FROM hq_translation_memory
        WHERE delete_status = 0 AND status = 1
        AND source_text = #{sourceText}
        AND target_lang = #{targetLang}
        ORDER BY id DESC
        LIMIT 1
    </select>
</mapper>
